@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

@layer utilities {
  body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #111827;
  }

  body::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 100vh;
    border: 1px solid #667f8c;

  }

  body::-webkit-scrollbar-thumb:hover {
    background: #667f8c;
  }
}

body {
  height: 90vh;
}